body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: none!important;
  border: none;
  /*padding: 0!important;*/
  padding: 0 5px 0 5px !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.chart_container {
  max-width: 1000px;
  margin:0 auto;
}
